<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block meta%} <!-- block meta  -->{% endblock%}
    <title>{% block title %} ? {% endblock %} - Guowei Python Webapp</title>
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
    <link rel="stylesheet" href="/static/css/awesome.css"/>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/sticky.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/awesome.js"></script>
    {% block beforehead %}<!-- before head  --> {% endblock %}
</head>
<body>
<!--定义导航链接的部分。-->
<nav class='uk-navbar uk-navbar-attached uk-margin-bottom'>
    <!--定义锚-->
    <a href="/" class="uk-navbar-brand">Guowei</a>
    <!--无序列表-->
    <ul class="uk-navbar-nav">
        <li data-url="blogs"><a href="/"><i class="uk-icon-home"></i> 日志</a></li>
        <li><a target="_blank"
               href="http://www.liaoxuefeng.com/wiki/0014316089557264a6b348958f449949df42a6d3a2e542c000"><i
                class="uk-icon-book"></i> 教程</a></li>
        <li><a target="_blank" href="https://github.com/michaelliao/awesome-python3-webapp"><i class="uk-icon-code"></i>
            源码</a></li>
    </ul>
</nav>
</body>
</html>